body{
        background-color: hsl(0, 0%, 0%);
        background-image: radial-gradient(circle farthest-side at center, hsl(23, 100%, 19%) 10%, hsl(0, 0%, 0%) 90%);;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
#container{
    margin: 50px 450px;
    padding-bottom: 260px;
    text-align: center;
    background-image: linear-gradient(315deg , #fe887d 0%, #f7d1d1 100%);
    width: 420px;
    border-radius: 20px;
    border: none;
    color:rgb(255, 78, 13);
}
#title{
    font-size: 35px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
}
#inputtasks{
    height: 37px;
    font-size: 18px;
    border-radius: 50px;
    padding-left: 20px;
    border: none;
    flex: 1;
    margin-right: 5px;
    background-color:rgb(255, 241, 234);
}
#add{
    height: 40px;
    width: 50px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 35%;
    cursor: pointer; /* Change the cursor to a pointer */
    background-color: #ff5c20;
    color: white;
}